body {
    background: #cbcbcb;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

#outer {
    width: 640px;
    border-radius: 8px;
    background: #eee;
    margin: 0 auto;
    padding: 16px;
}

h1 {
    margin: 4px 0;
    font-size: 1.5em;
    color: aqua;
}

pre {
    margin: 0;
    border: 1px solid #777777;
    padding: 8px;
    background: #ffffff;
}

#footer {
    text-align: center;
}


#modal {
    display: none;
    position: absolute;
    z-index: 9001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

}

#modal.active {
    display: flex;
}

#login{
    display: flex;
    height: 160px;
    width: 320px;
    border-radius: 8px;
    background: #eee;
    margin: 0 auto;
    padding: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}
#login .login-form{
    display: flex;
    height: 130px;
    width: 100%;
    background-color: rgb(17, 98, 14);

}
#login .login-form .loginform-buttons{
    background-color: rgba(255,0,0,0.2);
}
.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}